{% extends 'base.twig' %}

{% block title %}Departments{% endblock %}

{% block content %}
    <label>Departments</label>

    <br>
    <table>
        <tr>
            <th>Name</th>
            <th>Creation Date</th>
            <th>Update Date</th>
            <th>&nbsp;</th>
        </tr>
        {% for dept in depts %}
        <tr>
            <td>{{ dept.name }}</td>
            <td>{{ dept.createdAt }}</td>
            <td>{{ dept.updatedAt }}</td>
            <td>
                <div class="dep-control">
                    <ul>
                        <li><a href="/departments/add?id={{ dept.id }}">Add</a></li>
                        <li><a href="/departments/edit?id={{ dept.id }}">Edit</a></li>
                        <li><a href="/departments/remove?id={{ dept.id }}">Remove</a></li>
                    </ul>
                </div>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}