{% extends 'base.twig' %}

{% block title %}Departments{% endblock %}

{% block content %}
    <h2>Departments</h2>
    <a href="/departments/add">Add</a>
    <table>
        <tr>
            <th>Name</th>
            <th>Creation Date</th>
            <th>Update Date</th>
            <th>Actions</th>
        </tr>
        {% for dept in depts %}
        <tr>
            <td>{{ dept.name }}</td>
            <td>{{ dept.createdAt }}</td>
            <td>{{ dept.updatedAt }}</td>
            <td>
                <div class="dep-control">
                    <ul>
                        <li>
                            <form method="post" action="/departments/edit">
                                <input type="hidden" name="id" value={{ dept.id }}>
                                <button type="submit" class="link-button">
                                    Edit
                                </button>
                            </form>
                        </li>
                        <li>
                            <form method="post" action="/departments/remove">
                                <input type="hidden" name="id" value={{ dept.id }}>
                                <button type="submit" class="link-button">
                                    Remove
                                </button>
                            </form>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}